*{
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    margin: 0;
}

body{
    margin: 0;
}

h1{
    text-align: center;
    margin-bottom: 5%;
    font-size: 300%;
}
.nav {
    background-color: white;
    color: #8AAAE5;
    overflow: hidden;
}

.nav a{
    float: left;
    display: block;
    color: #8AAAE5;
    text-align: center;
    padding: 1vw 2vw;
    text-decoration: none;
    font-size: 1.5vw;
}

.nav a img{
    height: 20vh;
    width: 15vw;
}
.nav .active{
    padding: 0;
}

.nav a:hover{
    background-color: #8AAAE5;
    color: white;
}

.nav a.active{
    background-color: white;
    color: white;
}

.nav .nav-icon{
    display: none;
}

/* Generic things start here */
.commonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.commonContainer .commonCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .4vh .8vw 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: 3%;
    width: 300px;
    overflow: hidden;
    height: 400px;
    cursor: pointer;
}

.commonContainer .commonCard img{
    height: 200px;
    flex-grow: 2;
}

.commonContainer .commonCard .commonContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 40%; */
    /* width: 100%; */
    flex-grow: 3;
}

.commonContainer .commonCard .commonName{
    font-size: 22px;
}

.commonContainer .commonCard .commonBuy{
    height: 50px;
    width: 100%;
    margin-top: 5%;
    background: gold;
    border: none;
    padding: 2%;
    transition: 0.4s ease-in;
    cursor: pointer;
}

.commonContainer .commonCard .commonBuy:hover{
    opacity: 0.5;
    transition: 0.4s ease;
}


/* Generic things end here */
/* home page */
.home-page {
    /* position: relative; */
    left: 0;
    background: url("../assets/imgs/2.png");
    width: 100vw;
    height: 800px;
    /* height: 100vh; */
    background-size: cover;
    /* background-size: 100vw 100vh; */
    /* background-size: auto; */
}

/* services */
.services .carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.services .carousel-inner{
    width: 60vw;
    height: 80vh;
    background-size: cover;
    position: absolute;
}

.services .carousel .carousel-inner .carousel-item{
    width: 100%;
    height: 100%;
}


.services .carousel .carousel-inner .carousel-item img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.services .carousel .carousel-inner .carousel-item .carousel-caption{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}
.services .carousel .carousel-inner .carousel-item h6{
    text-align: center;
    font-size: 1.5vw;
}

.services .carousel .carousel-inner .carousel-item:hover img{
    opacity: 0.3;
}

.services .carousel .carousel-inner .carousel-item:hover .carousel-caption{
    opacity: 1;
}

.services .carousel .carousel-inner .carousel-item:hover h6{
    opacity: 0;
}

.plans .combo-plans{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}
.plans .combo-plans .card h1{
    text-align: center;
}
.plans .combo-plans .card{
    box-shadow: 0 .4vh .8vw 0 rgba(0, 0, 0, 0.2);
    max-width: 50vw;
    margin: 4vw;
    padding: 4vw;
    /* text-align: center; */
    flex: 25%;
    /* position: absolute; */
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}   

.fa-solid.fa-check{
    color: green;
}
.fa-solid.fa-xmark{
    color: red;
}
.plans{
    width: 100vw;
    height: 100vh;
}
.plans .combo-plans .card ul{
    list-style: none;
}

.plans .combo-plans .card button{
    border: none;
    outline: 0;
    padding: .5vw;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5vw;
}

.plans .combo-plans .card button:hover {
    opacity: 0.7;
}

.customers{
    width: 100vw;
    height: 100vh;
}

.customers .images a{
    margin-top: 5vw;
    position: relative;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}
.customers .images a img{
    box-shadow: 0 .4vh .8vw 0 rgba(0, 0, 0, 0.5);
    max-width: 20vw;
    margin: 2vw;
    /* margin-bottom: 3vw; */
    opacity: 1;
}

.customers .images a img:hover{
    opacity: 0.3;
}

.customers .a{
    text-decoration: none;
    color: blue;
    margin-left: 45%;
    font-size: 2vw;
}

.contact{
    width: 100vw;
    height: 100vh;

}
.contact h1{
    text-align: center;
    font-size: 5vw;
}
.contact .card{
    position: relative;
    display: flex;
    /* flex-wrap: wrap-reverse; */
    text-align: center;
}
.contact .card form{
    box-shadow: 0 .4vh .8vw 0 rgba(0, 0, 0, 0.2);
    max-width: 30vw;
    margin: 2vw;
    padding: 2vw;
    text-align: left;
    /* flex: 25%; */
    /* position: absolute; */
    display: block;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.2vw;
} 



/* Services Page Starts Here */

.container{
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
    /* margin: 3%; */
    /* background: green; */
    justify-content: center;
    background-color: #fbfbfb;

}

.container .card{
    /* margin: 3%; */
    /* padding: 1%; */
    /* margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%; */
    margin: 2.5%;
    width: 500px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* background: yellow; */
}
.container .card .element img{
    width: 200px;
    height: 150px;
}

.container .card .element{
    margin: 5%;
    opacity: 1;
    transition: .4s ease;
    box-shadow: 0 .4vh .8vw 0 rgba(0, 0, 0, 0.4);
    /* background: gold; */
    background: linear-gradient(to right, #F9ED4E,#F6B042);
    color: #533549;
    /* background: #533549;  */
    /* background: #D2302C; */
    /* color: #F7F7F9; */
    display: flex;
    align-items: center;
    width: 400px;
    height: 150px;
    overflow: hidden;
    flex-grow: 1;
    
}
.container .card .element p{
    /* background: -webkit-linear-gradient( #F6B042 , #F9ED4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    padding: 0;
    /* margin: 0; */
    margin-left: 5%;
    margin-right: auto;
    font-size: 1.5rem;
}

.container .card .element:hover {
    cursor: pointer;
    opacity: 0.7;
}


/* Services Page Ends Here */


/* Venue Page Starts Here */




/* Style the search field */
.search{
    border: none;
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin:auto;
    max-width:35vw;
}
.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border: none;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
.search  button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
  
.search button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
.search::after {
    content: "";
    clear: both;
    display: table;
}




.stars{
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars::before{
    content: "\f006 \f006 \f006 \f006 \f006";
}
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.stars-inner::before {
content: "\f005 \f005 \f005 \f005 \f005";
color: #f8ce0b;
/* color: orange; */
}
/* .stars{
    color: orange;
} */

.venues-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: #fbfbfb;

}

.venues-container .card{
    width: auto;
    height: 350px;
    margin: 5%;
    box-shadow: 0 .4vh .8vw 0 rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* justify-items: center; */
    align-items: center;
}

.venues-container .card img{
    width: auto;
    height: 150px;
}


.change-page{
    text-align: center;
    margin: 5%;
}
.change-page a{
    display: inline-block;
    padding: 8px 16px;
}

.change-page a:hover{
    background-color: green;
    color: white;
}

.change-page .previous {
    background-color: #f1f1f1;
    color: black;
}
.change-page .next {
    background-color: #f1f1f1;
    color: black;
}
.change-page .round{
    border-radius: 50%;
}



/* Venue Page Ends Here */


/* cards page starts here*/

.gen-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fbfbfb;
}

.gen-container .card{
    box-shadow: 0 .4vh .8vw 0 rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 522.5px;
    margin: 5%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gen-container .card img{
    width: 300px;
    height: 350px;
}
.gen-container .card button{
    width: 300px;
    height: 50px;
    margin-bottom: 0;
    border: none;
    background: gold;
    color: white;
}

.gen-container .card button:hover{
    transition: 0.4s ease;
    cursor: pointer;
    background: lightblue;
    color: white;
}


/* Decoration starts here */

.gen-container .decoration{
    width: 325px;
    height: 460px;
    overflow: hidden;
    object-fit: contain;
}

.gen-container .decoration img{
    width: 325px;
    height: 250px;
}

.gen-container .decoration button{
    width: 325px;
}

/* Decoration ends here */



/* Catering Starts here */

.gen-container .catering{
    height: 380px;
}

.gen-container .catering img{
    height: 200px;
}

/* Catering Ends here */
/* .cropped { */
/* width: 400px;  */
/* height: 300px;  */
/* overflow: hidden; */
/* } */

/* .cropped img { */
/* margin: -30px 0px 0px -350px; */
/* margin: -80px 0px 0px -50px; */
/* style="margin: -80px 0px 0px -300px;" */
/* } */


/* cards page ends here */


/* Contact page starts here */

.front{
    background: #00c8fd;
    background-size: cover;
    height: 100%;
    color: white;
}

.container-contact-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-contact-1 .box{
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contact-1 .box i{
    font-size: 4vw;
    margin-bottom: 5%;
}


.container-contact-2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contact-2 form .box-out{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-contact-2 form .box-out .box{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.container-contact-2 form .box-out .box textarea{
    width: 100%;
    height: 100%;
}

.container-contact-2 input[type=text], select, textarea{
    /* width: 100%; */
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 3%;
    resize: none;
} 

.container-contact-2 input[type=submit] {
    background-color: white;
    color: black;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin:2%;
}

.container-contact-2 input[type=submit]:hover {
    /* background-color: #45a049; */
    background-color: lightblue;
    color: white;
}

.container-contact-2 {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}






/* Contact page ends here */

@media screen and (max-width: 600px){
    /* .nav a:not(:first-child) {display: none;} */
    .nav a{display: none;}
    .nav a.nav-icon{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive{position: relative;}
    .nav.responsive a.nav-icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}

/* write media query for width <1050 to change background image */

@media screen and (max-width: 1050px) {
    .home-page{
        background: url("../assets/imgs/6.png");
        width: 100vw;
        height: 600px;
        background-size: cover;
    } 
}

/* write media query for width <500 to change background image */

@media screen and (max-width: 500px) {
    .home-page{
        background: url("../assets/imgs/7.png");
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-size: cover;
    }
}

@media screen and (max-width: 800px) {
    .services .carousel .carousel-inner .carousel-item:hover h6{
        opacity: 1;
    }
    
}

@media screen and (max-width:400px) {
    /* .customers .images a img{
        flex-direction: column;
        flex: 25%;
    } */
}